services:
    _defaults:
        autowire: true
        autoconfigure: true
        public: true

    Prescreen\ApiResourceBundle\Command\:
        resource: '../../Command/*'

    Prescreen\ApiResourceBundle\Infrastructure\Services\:
        resource: '../../Infrastructure/Services/*'

    # Validators
    Prescreen\ApiResourceBundle\Application\Services\Validators\ApiValidatorRegistry:
        arguments:
            - !tagged api_resource.validator

    Prescreen\ApiResourceBundle\Application\Services\Validators\StringValidator:
        tags:
            - { name: api_resource.validator }

    Prescreen\ApiResourceBundle\Application\Services\Validators\IntValidator:
        tags:
            - { name: api_resource.validator }

    Prescreen\ApiResourceBundle\Application\Services\Validators\BoolValidator:
        tags:
            - { name: api_resource.validator }

    Prescreen\ApiResourceBundle\Application\Services\Validators\DateValidator:
        tags:
            - { name: api_resource.validator }

    Prescreen\ApiResourceBundle\Application\Services\Validators\IdValidator:
        arguments:
            - '@doctrine.orm.default_entity_manager'
        tags:
            - { name: api_resource.validator }

    Prescreen\ApiResourceBundle\Application\Services\Validators\IdCollectionValidator:
        arguments:
            - '@doctrine.orm.default_entity_manager'
        tags:
            - { name: api_resource.validator }

    Prescreen\ApiResourceBundle\Application\Services\Validators\ResourceValidator:
        arguments:
            - '@doctrine.orm.default_entity_manager'
            - '@Prescreen\ApiResourceBundle\Application\Services\ApiResourceTransformerRegistry'
        tags:
            - { name: api_resource.validator }

    Prescreen\ApiResourceBundle\Application\Services\Validators\ResourceCollectionValidator:
        arguments:
            - '@doctrine.orm.default_entity_manager'
            - '@Prescreen\ApiResourceBundle\Application\Services\ApiResourceTransformerRegistry'
        tags:
            - { name: api_resource.validator }

    Prescreen\ApiResourceBundle\Application\Services\Validators\UrlValidator:
        tags:
            - { name: api_resource.validator }

    Prescreen\ApiResourceBundle\Application\Services\Validators\EmailValidator:
        tags:
            - { name: api_resource.validator }

    Prescreen\ApiResourceBundle\Application\Services\Validators\JsonValidator:
        tags:
            - { name: api_resource.validator }

    # Transformers
    Prescreen\ApiResourceBundle\Application\Services\ApiResourceTransformerRegistry:
        arguments:
            - !tagged api_resource.transformer
