services:
    _defaults:
        autowire: true
        autoconfigure: true
        public: true

    Xing\ApiResourceBundle\Command\:
        resource: '../src/Command/*'

    Xing\ApiResourceBundle\Infrastructure\Services\:
        resource: '../src/Infrastructure/Services/*'

    Xing\ApiResourceBundle\Application\Services\HtmlPurifier:
        alias: 'Xing\ApiResourceBundle\Infrastructure\Services\EzyangHtmlPurifier'

    # Validators
    Xing\ApiResourceBundle\Application\Services\Validators\:
        resource: '../src/Application/Services/Validators/*'
        tags:
            - { name: api_resource.validator }

    Xing\ApiResourceBundle\Application\Services\Validators\ApiValidatorRegistry:
        arguments:
            - !tagged_iterator api_resource.validator

    # Transformers
    Xing\ApiResourceBundle\Application\Services\ApiResourceTransformerRegistry:
        arguments:
            - !tagged_iterator api_resource.transformer
