services:
    _defaults:
        autowire: true
        autoconfigure: true
        public: true

    Prescreen\ApiResourceBundle\Command\:
        resource: '../src/Command/*'

    Prescreen\ApiResourceBundle\Infrastructure\Services\:
        resource: '../src/Infrastructure/Services/*'

    # Validators
    Prescreen\ApiResourceBundle\Application\Services\Validators\ApiValidatorRegistry:
        arguments:
            - !tagged api_resource.validator

    Prescreen\ApiResourceBundle\Application\Services\Validators\:
        resource: '../src/Application/Services/Validators/*'
        tags:
            - { name: api_resource.validator }

    # Transformers
    Prescreen\ApiResourceBundle\Application\Services\ApiResourceTransformerRegistry:
        arguments:
            - !tagged api_resource.transformer
